/** BODY */

body{
	background: #fff;
}

/** HEADER */

.headerNavbar{
	border: none;
	border-radius: 0;
	margin-bottom: 0;
}

#headerCarousel{
	margin-top: 0;
}

.headerBrand{
	font-size: 25px;
}

#headerCarousel .item img{
	max-height: 200px;
	width: 100%;
	object-fit: cover;
}

#headerCarousel .item h3{
	font-size: 40px;
}

.countryFlag{
    width: 30px;
    display: inline-block;
}

/** PAGE CONTAINER */

.pageContainer .row{
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px;
	background: #eee;
	/*border: 2px solid black;*/
}

/** GRAPH PAGE */

.response{
	margin-top: 30px;
}

.formDiv{
	margin-top: 30px;
	margin-bottom: 30px;
}

/** VIEW PAGE */

svg{
	background-color: white;
	display: block;
	margin: 30px auto;
	box-shadow: 10px 10px 5px #888888;
}

#operatorDescription {
	position: absolute;
	border: 2px solid black;
	background-color: cornflowerblue;
	color: white;
	font-size: larger;
	padding: 15px;
	text-align: center;
	border-radius: 10px;
	opacity: 0;
	pointer-events: none;
}

#nodeDescription {
	position: absolute;
	border: 2px solid black;
	background-color: cornflowerblue;
	color: white;
	font-size: larger;
	padding: 15px;
	text-align: center;
	border-radius: 10px;
	opacity: 0;
	pointer-events: none;
}

.informationTable{
	width: 80%;
	margin: 50px auto;
}

.informationTable tbody tr td{
	vertical-align: middle;
	padding: auto;
}

.graphControl{
	margin-top: 20px;
}

.graphControlButton{
	width: 100px;
}

/** PROBLEM PAGE */

.problemTable{
	width: 80%;
	margin: 30px auto;
}

.problemTable tbody tr td{
	vertical-align: middle;
	padding: auto;
}

.problemTable tbody tr td:first-child{
	width: 25%;
}

.problemTextarea{
	resize: none;
}

.problemSubmitButton{
	display: block;
	margin: auto;
	width: 100px;
}

.problemTable tbody tr td input[type="checkbox"]{
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.problemTable tbody tr td input[type="number"]{
	width: 100px;
	height: 30px;
	display: inline-block;
}

.formInformation{
	text-align: right;
	color: red;
	font-style: italic;
}

#information{
    width: 20%;
    margin: 30px auto 0 auto;
    display: none;
}

#serverSideError{
    width: 40%;
    margin: 30px auto 0 auto;
    display: none;
}

#success{
    width: 40%;
    margin: 30px auto 0 auto;
    display: none;
}

#customSearchAlgorithms{
    margin-top: 20px;
    margin-bottom: 10px;
}

.customSearchAlgorithmsHeading{
    margin-top: 20px;
}

#newCustomSearchAlgorithm{
    font-size: 25px;
    margin-bottom: 20px;
}

#newCustomSearchAlgorithm:hover{
    color: green;
}

.removeCustomSearchAlgorithm{
    font-size: 20px;
}

.removeCustomSearchAlgorithm:hover{
    color: red;
}

.customSearchAlgorithmDiv{
    border-bottom: 1px solid gray;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

/** REGISTRATION PAGE */

#registrationHeader{
    width: 40%;
    margin: 0 auto;
    padding-left: 10px;
}

.registrationTable{
	width: 40%;
	margin: 30px auto;
}

.registrationSubmitButton{
	display: block;
	margin: 10px auto 0 auto;
	width: 150px;
}

.passwordField{
    margin-bottom: 10px;
}

.fieldErrors{
    padding: 5px;
    margin: 10px auto 5px auto;
    display: none;
}

/** LOGIN PAGE */

#loginHeader{
    width: 40%;
    margin: 0 auto;
}

#loginDiv{
    width: 40%;
    margin: 0 auto;
}

.loginButton{
    display: block;
    width: 150px;
    margin: 0 auto;
}

.loginElement{
    margin: 20px auto;
}

/** PROFILE PAGE */

.profileTable{
	width: 80%;
	margin: 50px auto;
}

.profileTable tbody tr td{
	vertical-align: middle;
	padding: auto;
}

.processStatus{
    width: 10%;
}

.profileTableHeading td{
    font-weight: bold;
}

.statusIcon{
    font-size: 20px;
}